<div class="container">
  <h1>Sinatra Sandbox!</h1>
  <p>A wonderful activity</p>


  <form method='get' action='/cool_url'>
    Cool URL: <Input type='word' name='word' placeholder='whatever'><br>
    <textarea type='box' name='box' placeholder='whatever text'></textarea><br>
    <input type="radio" name="group1" value="Milk"> Milk<br>
    <input type="radio" name="group1" value="Butter" checked> Butter<br>
    <br>
    <input type="checkbox" name="option1" value="Milk"> Milk<br>
    <input type="checkbox" name="option2" value="Butter"> Butter<br>
    <input type="checkbox" name="option2" value="Cheese"> Cheese<br>
    <!-- check boxes checking more than one output in url and in shotgut seems weird to me. perhaps look into more -->

    <select>
      <option>Milk</option>
      <option>Coffee</option>
      <option>Tea</option>
    </select>
    <!-- weird that you can click on any of the 3 choices and submit but the url is not affected by what you choose there -->
    <br>

    <input type="text" name="post[title]">
    <input type="text" name="post[price]">
    <textarea name="post[description]"></textarea>
    
    <button>Submit Cool URL!</button>
    <br>
  </form>
  <br>
  <hr>
  <br>
  <form method='post' action='/cool_url'>
    Cool URL: <Input type='word' name='word' placeholder='whatever'><br>
    <br>
    <button>Submit Post Cool URL!</button>
    <br>
  </form>

</div>